<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Full Stack developer, here you will find information about the projects I have done."/>
    <meta property="og:description" content="Full Stack developer, here you will find information about me. "/>
    <meta property="og:title" content="Flavio Rodriguez | Full Stack Developer"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Jose Estrada | Full Stack Developer"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="css/about.css"/>
    <link rel="stylesheet" href="css/contact.css"/>
    <link rel="stylesheet" href="css/certificados.css"/>
    <link rel="stylesheet" href="css/portfolio.css"/>
    <link rel="stylesheet" href="css/media.css" media="(max-width: 991px)"/>
    <script src="https://kit.fontawesome.com/7b5fb2de65.js" crossorigin="anonymous" async="async"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Flavio Rodriguez / Full Stack Developer</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <div class="navbar__logo">
          <p class="navbar__title">
            <a href="#">FR</a>
          </p>
        </div>
        <div class="navbar__menu">
          <i class="fas fa-bars"></i>
        </div>
        <ul class="navbar__links">
          <li class="navbar__link active" data-ref="home">
            <a href="#home">Home</a>
          </li>
          <li class="navbar__link" data-ref="sobreMi">
            <a href="#sobreMi">Sobre mi</a>
          </li>
          <li class="navbar__link" data-ref="certificados">
            <a href="#certificados">Certificados</a>
          </li>
          <li class="navbar__link" data-ref="portfolio">
            <a href="#portfolio">Portfolio</a>
          </li>
          <li class="navbar__link" data-ref="contacto">
            <a href="#contacto">Contacto</a>
          </li>
        </ul>
      </div>
    </nav>
    <section id="home" class="home">
      <div class="home__background"></div>
      <div id="sectionHome">
        <div class="picture">
          <img class="home__profile" id="pic" src="/img/profile.jpeg" alt="picture profile"/>
        </div>
        <div class="home__description">
          <h1 class="home__title" id="write"></h1>
        </div>
      </div>
    </section>
    <section id="sobreMi">
      <div class="container">
        <h2 class="section__title">Sobre mi</h2>
        <div class="about__grid">
          <div class="about__description">
            <h2>Como inicie en la programación.</h2>
            <p>
              Actualmente tengo 26 años, vivo en Montevideo y trabajo en una empresa de fumigacion mientras estudio programación, soy un apasionado por la tecnologia que busca hacer un cambio de sector laboral, incentivado por buscar un trabajo mas acorde a mis gustos y habilidades en las cuales quiero poder seguir desarrollando.
            </p>
            <p>
              En el verano de 2021-2022 empece a programar de manera autodidacta con cursos de Udemy, al ver que no seria tan facil decidi dar el siguiente paso de comenzar a cursar en
              <a id="ha" target="_blank" href="https://ha.dev/">Hack Academy</a>
              trabajando con proyectos reales y resultados notables. En cuanto a mi siempre busco perfeccionar mis habilidades e ir avanzando, soy exigente conmigo mismo sin dejar de buscar ayuda cuando se lo necesita, tengo muy claro que la comunicacion siempre es la clave en cualquier equipo laboral.
            </p>
            <a class="button--cta" href="/img/cursos/CV-Flavio-Rodriguez.pdf" download="CV-Flavio-Rodriguez" target="_blank" rel="noopener noreferrer">
              <i class="fas fa-file-download"></i>Descargar CV
            </a>
          </div>
          <div class="about__skills">
            <div class="skill__title">
              <h2>Habilidades tecnicas</h2>
            </div>
            <div class="skill__item">
              <img src="https://img.icons8.com/color/48/000000/mongodb.png" alt="MongoDB icon"/>
              <div class="skill__name">MongoDB</div>
            </div>
            <div class="skill__item">
              <img src="/img/expressjs.svg" alt="Express.js icon"/>
              <div class="skill__name">Express.js</div>
            </div>
            <div class="skill__item">
              <i class="fab fa-node"></i>
              <div class="skill__name">Node.js</div>
            </div>

            <div class="skill__item">
              <img src="/img/mysql.svg" alt="Myslq icon"/>
              <div class="skill__name">Mysql</div>
            </div>
            <div class="skill__item">
              <i class="fab fa-js"></i>
              <div class="skill__name">JavaScript</div>
            </div>

            <div class="skill__item">
              <i class="fab fa-github"></i>
              <div class="skill__name">GitHub</div>
            </div>
            <div class="skill__item">
              <i class="fab fa-git-alt"></i>
              <div class="skill__name">GIT</div>
            </div>
            <div class="skill__item">
              <img src="/img/boostrap.svg" alt="Boostrap icon"/>
              <div class="skill__name">Boostrap</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="certificados">
      <div class="container">
        <h2 class="section__title">Certificados</h2>
        <h3 class="section__subtitle">
          Cursos realizados en
          <a id="HA" href="https://ha.dev/">Hack Academy</a>.
        </h3>
        <div class="certificados__grid">
          <div class="certificado__item">
            <img class="certificado__img" src="/img/cursos/HA_FRONT_Certificado.jpeg" alt="certificado Front-end"/>
            <div class="certificado__description">
              <h3 class="certificado__description--title">Front-end</h3>
              <p class="certificado__description--text">
                Introducción a HTML, CSS y JavaScript.
              </p>
              <div class="buttons__container">
                <a class="button" href="/img/cursos/HA_FRONT_Certificado.pdf" download="HA_FRONT_Certificado" target="_blank" rel="noopener noreferrer">
                  <i class="fas fa-file-download"></i>
                  Descargar</a>
              </div>
            </div>
          </div>
          <div class="certificado__item">
            <img class="certificado__img" src="/img/cursos/HA_BACK-END_INICIAL_Certificado.png" alt="Certificado Back-end (inicial)"/>
            <div class="certificado__description">
              <h3 class="certificado__description--title">Back-end (inicial)</h3>
              <p class="certificado__description--text">
                JavaScript (ES6+), Node.js, Express y MySQL.
              </p>
              <div class="buttons__container">
                <a class="button" href="/img/cursos/HA_BACK-END_INICIAL_Certificado.pdf" download="HA_BACK-END_INICIAL_Certificado" target="_blank" rel="noopener noreferrer">
                  <i class="fas fa-file-download"></i>
                  Descargar</a>
              </div>
            </div>
          </div>
          <div class="certificado__item">
            <img class="certificado__img" src="/img/cursos/HA_BACK-END_AVANZADO_Certificado.png" alt="Certificado Back-end (avanzado)"/>
            <div class="certificado__description">
              <h3 class="certificado__description--title">Back-end (avanzado)</h3>
              <p class="certificado__description--text">
                APIs REST usando Node.js, Express y MongoDB.
              </p>
              <div class="buttons__container">
                <a class="button" href="/img/cursos/HA_BACK-END_AVANZADO_Certificado.pdf" download="HA_BACK-END_AVANZADO_Certificado" target="_blank" rel="noopener noreferrer">
                  <i class="fas fa-file-download"></i>
                  Descargar</a>
              </div>
            </div>
          </div>
          <div class="certificado__item">
            <img class="certificado__img" src="/img/cursos/in_progress.png" alt="img_in_progress"/>
            <div class="certificado__description">
              <h3 class="certificado__description--title">React & React Native</h3>
              <p class="certificado__description--text">
                Desarrollo de aplicaciones web y aplicaciones móviles nativas.
              </p>
              <div class="buttons__container">
                <a class="button" href="..." download="..." target="_blank" rel="noopener noreferrer">
                  <i class="fas fa-file-download"></i>
                  Descargar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="portfolio">
      <div class="container">
        <h2 class="section__title">Portfolio</h2>
        <h3 class="section__subtitle">Mis proyectos personales y de clases</h3>
        <div class="portfolio__grid">
          <div class="portfolio__item">
            <img class="portfolio__img" src="/img/Chat.PNG" alt="img chat"/>
            <div class="portfolio__description">
              <h3 class="portfolio__description--title">Chat</h3>
              <p class="portfolio__description--text">
                Se creeo una aplicacion real-time usando sockets.io, Node.js, Html, Css, JS y MongoDB con Mongoose.
              </p>
              <div class="buttons__container">
                <a class="button" href="https://app-firstchattest.herokuapp.com/" target="_blank" rel="noopener noreferrer">
                  <i class="fas fa-globe-americas"></i>
                  Website
                </a>
                <a class="button" href="https://github.com/Flavio-RF/Chat" target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-github"></i>
                  Repository
                </a>
              </div>
            </div>
          </div>
          <div class="portfolio__item">
            <img class="portfolio__img" src="/img/Notas.PNG" alt="img pag en construccion"/>
            <div class="portfolio__description">
              <h3 class="portfolio__description--title">Notas</h3>
              <p class="portfolio__description--text">
                Se creeo un CRUD de notas utilizando sockets.io, Node.js, Html, Css, JS y MongoDB con Mongoose.
              </p>
              <div class="buttons__container">
                <a class="button" href="https://socket-crud-notas.herokuapp.com/" target="_blank" rel="noopener noreferrer">
                  <i class="fas fa-globe-americas"></i>
                  Website
                </a>
                <a class="button" href="https://github.com/Flavio-RF/notes" target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-github"></i>
                  Repository
                </a>
              </div>
            </div>
          </div>
          <div class="portfolio__item">
            <img class="portfolio__img" src="/img/API.PNG" alt="img pag en construccion"/>
            <div class="portfolio__description">
              <h3 class="portfolio__description--title">API</h3>
              <p class="portfolio__description--text">
                La idea es poder consumir la API desde Front-end, se trata de solo Back-end con Node.js, Express, MongoDB, Mongoose.
              </p>
              <div class="buttons__container">
                <a class="button" href="https://proyecto-final-backend-avanzado.vercel.app/" target="_blank" rel="noopener noreferrer">
                  <i class="fas fa-globe-americas"></i>
                  Website
                </a>
                <a class="button" href="https://github.com/Flavio-RF/ProyectoFinal-Backend-avanzado" target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-github"></i>
                  Repository
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="contacto">
      <div class="container">
        <h2 class="section__title">Contacto</h2>
        <h3 class="section__subtitle">
          ¡Contactame para que trabajemos juntos!.
        </h3>
        <div class="contact__grid">
          <a href="mailto:flavio.r.f@hotmail.com" target="_blank" rel="noopener noreferrer">
            <div class="contact__item">

              <i class="far fa-envelope"></i>
              <p>Mail Me</p>
            </div>
          </a>
          <a href="https://github.com/Flavio-RF" target="_blank" rel="noopener noreferrer">
            <div class="contact__item">
              <i class="fab fa-github"></i>
              <p>Follow Me</p>
            </div>
          </a>
          <a href="https://twitter.com/Flavio_R95" target="_blank" rel="noopener noreferrer">
            <div class="contact__item">
              <i class="fab fa-twitter"></i>
              <p>Follow Me</p>
            </div>
          </a>
          <a href="https://www.linkedin.com/in/flavio-rodriguez-1aa233215/" target="_blank" rel="noopener noreferrer">
            <div class="contact__item">
              <i class="fab fa-linkedin-in"></i>
              <p>Contact Me</p>
            </div>
          </a>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <p>
          Copyright © 2022.
          <a href="#">@FRodriguez</a>
          <br/>
          All Rights Reserved
        </p>
      </div>
    </footer>
    <script async="async" src="js/app.js"></script>
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
  </body>
</html>