.section__title {
  color: var(--grey);
  font-size: 35px;
  margin-bottom: 30px;
  display: flex;
}

.section__subtitle {
  color: var(--grey);
  text-align: start;
  margin-bottom: 20px;
}

.about__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.about__description {
  text-align: left;
  color: var(--grey);
  padding-right: 80px;
  line-height: 40px;
}

.about__summary {
  margin: 30px 0;
}

.about__description span {
  color: var(--grey);
}

.about__description h2 {
  color: var(--grey);
  margin: 20px 0;
}

.about__skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.skill__title {
  color: var(--grey);
  grid-column: span 3;
  text-align: center;
  margin: 20px 0;
}

.skill__item {
  font-size: 65px;
  color: var(--grey);
  padding: 28px;
  transition: all 0.3s;
  min-width: 130px;
  height: 180px;
}

.skill__item img {
  max-height: 50px;
  max-width: 100px;
}
.fa-node {
  color: #3c873a;
}

.fa-html5 {
  color: #e34c26;
}

.fa-css3-alt {
  color: #264de4;
}

.fa-js {
  color: #f0db4f;
}

.fa-git-alt {
  color: #f34f29;
}

.fa-react {
  color: var(--blueReact);
}

.skill__name {
  font-size: 16px;
  text-align: center;
}
